<form [formGroup]="userRegisterForm" class="mt-3">
  <div class="mb-3">
    <label for="fullName">Full Name</label>
    <input type="text" class="form-control" id="fullName" placeholder="Enter Full Name" formControlName="fullName">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
           placeholder="Enter email" formControlName="email">
  </div>
  <div class="mb-3">
    <label for="phoneNumber">Phone Number</label>
    <input type="text" class="form-control" id="phoneNumber" placeholder="Enter Phone Number"
           formControlName="phoneNumber">
  </div>

  <div formGroupName="address">
    <div class="mb-3">
      <label for="city">City</label>
      <input type="text" class="form-control" id="city" name="city" placeholder="Enter Your City"
             formControlName="city">
    </div>
    <div class="mb-3">
      <label for="postalCode">Postal Code</label>
      <input type="text" class="form-control" id="postalCode" name="postalCode" placeholder="Enter Postal Code"
             formControlName="postalCode">
    </div>
    <div class="mb-3">
      <label for="street">Street</label>
      <input type="text" class="form-control" id="street" name="street" placeholder="Enter Your Street"
             formControlName="street">
    </div>
  </div>
  <div class="mb-3">
    <label for="Password">Password</label>
    <input type="password" class="form-control" id="Password" name="password" placeholder="Password"
           formControlName="password">
  </div>
  <div class="mb-3">
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
           placeholder="Confirm Password"
           formControlName="password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!-- Debug (remove in production) -->
<div class="mt-3 text-danger">
  <h5>Debug Data</h5>
  {{ userRegisterForm.value | json }}
  <br>
  {{ fullName?.errors | json }}
</div>
