<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Price in USD</th>
      <th scope="col">Price in EGP</th>
      <th scope="col">Quantity</th>
      <th scope="col">Image</th>
      <th scope="col">Category ID</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of prdListOfCat ;
     let i = index" [class.bg-warning]="+product.quantity < 3">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ product.name }}</td>
      <td>{{ product.price | currency:'USD' }}</td>
      <td>{{ product.price | USDToEGP:10 |currency:'EGP' }}</td>
      <td>
        <ng-container [ngSwitch]="product.quantity">
          <div *ngSwitchCase="0" class="text-danger">Out of Stock</div>
          <div *ngSwitchCase="1" class="text-warning">Only 1 left</div>
          <div *ngSwitchCase="2" class="text-warning">Only 2 left</div>
          <div *ngSwitchDefault>{{ product.quantity }}</div>
        </ng-container>
      </td>
      <td>
        <img
          lightBox="red" defaultColor="grey"
          [src]="product.imageUrl"
          alt="{{ product.name }}"
          class="img-thumbnail"
        />
      </td>
      <td>{{ product.categoryID }}</td>
      <td>
        <input
          #ItemsCount
          type="number"
          class="form-control"
          style="width: 80px"
        />
      </td>
      <td>
        <button
          class="btn btn-primary"
          (click)="buy(product, ItemsCount.value)"
        >
          Add to Cart
        </button>
      </td>
    </tr>
  </tbody>
</table>
<!-- <h3 class="text-danger">
  [to be removed]: for testing purposes only<br>
  orderDate: {{ orderDate | date:'short' }}<br>
  orderTotalPrice: {{ orderTotalPrice | currency:'USD' }}
</h3> -->
