<div class="mb-3">
  <label for="prdCat" class="form-label">Category</label>
  <select class="form-select" name="Cat" id="prdCat" [(ngModel)]="selectedCatID">
  <option *ngFor="let category of catList" [value]="category.id">{{ category.name }}</option>
</select>
</div>

<div class="text-secondary">
{{selectedCatID}}
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Image</th>
      <th scope="col">Category ID</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of prdList; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.quantity }}</td>
      <td>
        <img [src]="product.imageUrl" alt="{{ product.name }}" class="img-thumbnail" style="width: 50px; height: 50px;">
      </td>
      <td>{{ product.categoryID }}</td>
      <td>
        <input #ItemsCount type="number" class="form-control" style="width: 80px;">
      </td>
      <td>
        <button class="btn btn-primary" (click)="buy(product.id, ItemsCount.value)">Add to Cart</button>
      </td>
    </tr>
  </tbody>
</table>
